.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10px;
}

.reminder-card {
	width: 90%;
	height: 150px;
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}

.c-title {
	text-align: center;
}

.reminder-details {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.details {
	font-size: 1.3rem;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

.details p {
	color: #3c3c3c;
	font-size: 1.1rem;
}

.actions {
	width: 180px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 0px 10px;
}

.actions span {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.snooze {
	position: absolute;
	right: 20px;
	background-color: white;
	height: 160px;
	width: 200px;
	padding: 10px;
	z-index: 99;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.buttons {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
