.home-svg {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.home-svg svg {
	margin-left: 8rem;
}

#cards {
	animation: screen 0.9s ease-in-out 0s alternate infinite;
}

@keyframes screen {
	from {
		transform: translateY(-2%);
	}
	to {
		transform: translateY(0%);
	}
}

#person {
	animation: person 0.9s ease-in-out 0s alternate infinite;
}

@keyframes person {
	from {
		transform: translateY(-0.7%);
	}
	to {
		transform: translateY(0%);
	}
}
